# Виртуальные окружения
venv/
.env/
.envrc/
.venv/

# Python файлы компиляции
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Логи и кеши
*.log
.cache/
*.sqlite3

# IDE и редакторы
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Документация и артефакты сборки
build/
dist/
*.egg-info/
.eggs/
*.egg